"*":
  editor:
    softWrap: true
    invisibles: {}
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.95.0"
  "git-log": {}
  "travis-ci-status": {}
